$font-stack: Roboto, sans-serif;

body {
    background-color: orange;
    font: 100% $font-stack;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
}

h1, p {
    align-self: center;
}

p {
    font-size: 36px;
}

button {
    border-radius: 25px;
    font-size: 36px;
}

#controls {
    align-self: center;
    display: flex;
}

.control {
    border: solid 1px black;
    padding: 10px 50px;
    margin: 0 10px;
}